<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.md2g.transformation.queries.CompositeQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.md2g.transformation.queries.CompositeQueries" id="hu.bme.mit.md2g.transformation.queries.CompositeQueries">
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.portsOnComponents"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.portConnections"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.md2g.transformation.queries.StatechartQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.md2g.transformation.queries.StatechartQueries" id="hu.bme.mit.md2g.transformation.queries.StatechartQueries">
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.StateMachines"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.ParametersInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.RegionsInRegion"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.RegionsInStatemachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.InitialStatesInStatemachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.ShallowHistoryInStatemachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.DeepHistoryInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.ForksInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.JoinsInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.StatesInStatemachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.TranisitonsInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.SignalsInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.MainRegions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.StatesInMainRegion"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.StatesInRegions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.PseudoStates"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.FinalStates"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.RegionsInStates"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.Transitions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.RegionsInStatechart"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.OwnedTransitions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.Triggers"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.Signals"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.GuardsInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.RelativeTimeEventsInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.PropertiesInStateMachine"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.Actions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.ActionsOnTransitions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.EntryActions"/>
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.ExitActions"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.md2g.transformation.queries.TraceQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.md2g.transformation.queries.TraceQueries" id="hu.bme.mit.md2g.transformation.queries.TraceQueries">
      <query-specification fqn="hu.bme.mit.md2g.transformation.queries.fragmentTrace"/>
    </group>
  </extension>
</plugin>
