/.BackTracer.xtendbin
/.InterfaceTransformer.xtendbin
/.MagicdrawToGammaTransformer.xtendbin
/.Tracer.xtendbin
/BackTracer.java
/InterfaceTransformer.java
/MagicdrawToGammaTransformer.java
/Tracer.java
